@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: 62.5%;   */
}
html{
    text-transform: capitalize;
}
body{
    font-family: 'Open Sans',sans-serif;
    background-color: rgb(61, 49, 49); 
    
}



header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 1000;
    max-height: 100px;
    transition: all 0.3s ease-in-out;   
}

.logo{
    padding:0 20px;
}

nav{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 100%;
    background-color: #1b1612;
    transition: all 0.3s ease-in-out;
}
nav.active{
    right: 0;
}
nav i{
    font-size: 25px;
    float: right;
    padding: 15px;
    cursor: pointer;
}
nav i:hover{
    color: #c0392b;
}

nav .menu a{
    display: block;
    color: #8399ae;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
nav .menu a:hover{
    color: #c0392b;
}

header .icons{
    margin-right: 30PX;
    /* flex: 0 0 ; */
    display: flex;
    justify-content: center;
}

header .icons i{
    font-size: 25px;
    padding-right: 20px;
    color: #8399ae;

    cursor: pointer;
}

header .icons i:hover{
    color: #c0392b;

}

.search{
    position: absolute;
    top: -110%;
    right: 0;
    width: 100%;
    padding: 15px;
    opacity: 0;
    background-color: #222;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.search.active{
    top: 100%;
    opacity: 1;
    
}
.search input{
    width: 100%;
    background-color: white;
    border: none;
    border: 5px solid #58555449;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    color: #222;
}
.search label{
    position: absolute;
    top:30px;
    color: rgb(32, 30, 28);;
    right: 40px;
    font-size: 25px;
}


.signin-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 500px;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 249, 245, 0.877);
    transition: all 0.3s ease-in-out;
}

.signin-form.active{
    right: 2rem;

}

.signin-form form{
    width: 100%;
}

.signin-form h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.input{
    position: relative;
    margin: 0px auto;
    padding: 10px;
}

.input input{
    width: 100%;
    background-color: transparent;
    border: none;
    border: 5px solid #58555449;
    font-size: 20px;
    padding: 10px;
    color: #222;
}
.input input:focus,
.input input:valid{
    outline: none;
    border: 5px solid #c0392b;
    box-shadow:0 18px 10px -10px rgba(0, 0, 0, 0.5);
}

.input label{
    position: absolute;
    top:20px;
    color: rgb(32, 30, 28);;
    left: 25px;
    font-size: 18px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input i{
    position: absolute;
    top:25px;
    right: 35px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input input:focus + label ,
.input input:valid + label {
    opacity: 0;
    transform: translateX(400px);
    
}

.remember-forget{
    display: flex;
    letter-spacing: 1px;    
    width: 100%;
    justify-content: space-around;
}

.icon-container{
    display: flex;

    justify-content: center;
    margin: 0 auto;
    /* background-color: brown; */
}

.icon-container div{
    display: inline-block;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    cursor: pointer;
}

.icon-container div:active{
    transform: scale(0.9);
}
.icon-container div:hover{
    transform: scale(1.2);
    color: #fff;
}

.icon-container .fb{
    color: rgb(43, 43, 92);
    
}
.icon-container .fb:hover{
    background-color: rgb(43, 43, 92);
       
}
.icon-container .google{
    color:   #0F9D58;
}
.icon-container .google:hover{ 
    background-color:   #0F9D58;
}

.icon-container .twitter{
    color: #26a7de; 
}
.icon-container .twitter:hover{
    background-color: #26a7de; 
}
.icon-container .tiktok{
    color: #ff0050;
}
.icon-container .tiktok:hover{
    background-color: #ff0050; 
}

.reg{
    background-color: transparent;
    border: none;
    padding-left: 5px;
    text-align: center;
}

.btn{
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80%;
    display: block;
    margin:20px auto;
    padding: 10px;
    color: rgb(235, 223, 213);
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.959);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
}
h1.legend {
    font-size: 30px;
    overflow: hidden;
    text-align: center;
}
  
.legend:before,
.legend:after {
    background-color: #c0392b;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
.legend:before {
    right: 0.5em;
    margin-left: -50%;
}
  
.legend:after {
    left: 0.5em;
    margin-right: -50%;
}                                                   

@media(min-width:1024px){
    nav{
        position: static;
        flex: 1 1 auto;
        background-color: transparent;

    }
    nav .menu{
        display: flex;
        background-color: transparent;
        width: 100%;
        /* background-color: #238656; */
        justify-content: center;


    }
    nav .menu a{
        display: inline-block;
        font-size: ;
        
    }
    nav #cross{
        display: none;

    }
    #menu-btn{
        display: none;
    }
}