@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
    color: #222;
    background-color: rgb(61, 49, 49);
    padding-bottom: 50px;
    
}

.container{
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow: hidden;
}

/*@todo Nav*/

.nav{
    display: block;
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    height: 100px;
    overflow: hidden;
}
.nav .menu{
    display: flex;
}
.nav .menu #button i{
    display: none;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
.nav .menu #button i.active{
    display: block;

}
.nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.nav ul{
    display: none;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;

}
.nav ul.active{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 0px;
    right: 0px;
    padding: 20px;
    /* bottom: 0px; */
    background-color: rgba(0, 0, 0, 0.568);
}

.nav ul.active li{
    /* width: 100%; */
    cursor: pointer;
    margin: 5px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
    /* background-color: bisque; */
    
}
.nav ul.active li a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    
}
.nav ul.active li a.current,.nav ul.active li a:hover{
    color: #f0b851;
       
}
.nav ul.active li:hover{
    /* background-color: #222; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87) , rgba(0, 0, 0, 0.349));
    border-left: 10px solid black;
}
.nav a.current,.nav a:hover{
    color: #c0392b ;
    font-weight: bold;
}
.nav .logo-container i{
    color: #fff;
    padding: 0 10px;
}

.nav .btn{
    display: none;
}

.nav button{
    display: none;
    position: relative;
    padding: 15px 20px;
    background-color: rgb(9, 3, 41);
    color: #fff;
    border: 1px solid rgb(2, 0, 128);
    border-radius: 10px;
    margin: 10px 5px;
    overflow: hidden;
    cursor: pointer;
}
button .circle{
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale 0.5s ease-out;
}


/* active navbar */

.nav.active{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}
.nav.active a{
    color: #222;
}
.nav.active .container{
    padding: 10px 0;
   
}

@keyframes scale{
    to {
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;

    }
}


.carousel{
    height: 70vh;
    width: 100vw;
    /* overflow: hidden; */
    box-shadow: 2px 5px 6px rgab(0,0,0,0.3);
    margin: 120px auto;
    /* background-image: url("https://source.unsplash.com/user/erondu/1600x900"); */
    background-size: cover;
    background-position: center center;
    background
    transition: 0.5s;
}
.carousel::before{
    content: '';
    position: absolute;
    height: 70vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.carousel .slider-container{
    display: flex;
    
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    background-color: transparent;
    /* overflow: hidden; */
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}


.carousel .slider-container .slide{
    opacity: 0;
    height: 100%;
    min-width: 100%;
    position: relative;
}
.carousel .slider-container .slide.active{
    opacity: 1;
    width: 100%;
}
.carousel .slider-container .slide img{
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
}




.buttons-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin: 0;
    border: none;
    width: 49.5%;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.btn:active{
    outline: none;
}

.content-1{
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: space-around;
    border-top: 2px solid rgba(0, 0, 0, 0.87);
    border-bottom: 2px solid black;
    background-color: rgba(7, 3, 3, 0.966);
}
.content-1 .player h1,.content-1 .users h1,.content-1 .featured h1{
    color: #8a3710fd;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration-line: underline;
}


.content-1 .users .user{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    min-width: 400px;
    /* height: 80px; */
    background-color: #fff;
}
.content-1 .users .user .avatar{
    display: inline-block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 5px 20px;
    border: 2px solid #2a2a72;
    /* width: 40%; */
}
.content-1 .users .user .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 20px;
    width: 50%;
}
.content-1 .users .user .about h2{
    color: #c0392b;
}
.content-1 .users .user .about h6{
    color: #241e1d;
}
.content-1 .users .user .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.content-1 .users .user .icons i{
    font-size: 30px;
    cursor: pointer;
}

.content-1 .featured{

}
.content-1 .featured .items{
    display: flex;
    margin: 0 30px;
    padding: 20px;
    background-color: aqua;
    border: 5px solid white;

}
.content-1 .featured .items i{
    font-size: 50px;
    color: red;
}


.content-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px ;

}


.content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1a1718;
    padding: 0px;
}
.content-2 .card{
    display: flex;
    margin: 10px;
    background-color: rgb(228, 214, 183);
    min-width: 100px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.content-2 .card img{
    width: 250px;
    height: 250px;
    display: block;
    border-right: 1px solid rgb(233, 151, 29);
    object-fit: cover;
    object-position: center center;
}
.content-2 .card .card-info{
    display: block;
    padding: 20px;
} 


.content-2 .card .card-info h1{
    text-transform: uppercase;
    text-align: center;
}
.content-2 .card .card-info h2{
    text-transform: uppercase;
    text-align: center;
}

.content-2 .card .card-info .date{
    text-transform: uppercase;
    
} 
.content-2 .card .card-info .name{
    text-transform: uppercase;
    color: coral;
    letter-spacing: ;
    
} 
.content-2 .card .card-info .date{
    display: block;
    text-transform: uppercase;
    text-align: center;
    
} 
.content-2 .card .card-info .resources{
    display: block;
    text-transform: uppercase;
    text-align: center;
    
} 



footer{
    background-color: rgb(228, 214, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 20px auto;
}

@media(min-width:700px){

    .nav ul,.nav ul.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .nav .menu{
        display: flex;
    } */
    .nav a{
        text-decoration: none;
        color: #fff;
    }
    .nav ul li{
        padding: 10px;
    }
    .nav .container{
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        /* justify-content: space-between; */
        align-items: center ;
        justify-content: center;
    }
    .nav .container .logo{  
        width: 20%;
        /* background-color: lawngreen; */
      }
    .nav .container .menu{
        width: 100%;
        justify-content: space-around;
        padding: 20px;
        /* background-color: #f0b851;    */
    }
    .nav .menu #button{
        display: none;
    }

    .content-2 .card{
        flex-direction:column ;
        max-width: 300px;
    }
    .content-2 .card img{
        width: 100%;

    }
        

}